:root {

    /* Colors */
    --primary: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

    --gray-light: hsl(240, 78%, 98%);
    --purple-light: hsl(234, 14%, 74%);
    --purple: hsl(233, 13%, 49%);
    --purple-dark: hsl(232, 13%, 33%);

    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

html,
body,
p,
ul,
li,
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    background: url(/fm-pricing-table/images/bg-top.svg) top right no-repeat,
                url(/fm-pricing-table/images/bg-bottom.svg) bottom left no-repeat;
    background-color: var(--gray-light);
}

ul {
    list-style: none;
}

.o-pricingTable {
    color: var(--purple-dark);
    padding-top: 5rem;
    height: 88vh;
}

//  TITLE
.a_pricingTitle {
    font-size:3rem;
    text-align: center;
    padding-bottom: 4rem;
}

.o-pricingToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;

    & p {
        font-size: 1.3rem;
        color: var(--purple);
    }

    & input#price-toggle {
        position: absolute;
        left: -9999px;
    }

    & .a-toggleSwitch {
        height: 3rem;
        width: 6rem;
        border-radius: 6rem;
        background: var(--primary);
        position: relative;
        margin: 0 2rem;
        cursor: pointer;

        &::before {
            content:'';
            height: 2.4rem;
            width: 2.4rem;
            background: var(--gray-light);
            border-radius: 50%;
            position: absolute;
            top: 0.3rem;
            left: 0.4rem;
            transition: all 150ms ease-out;
        }
    }

    & input[type=checkbox]:checked + .a-toggleSwitch::before {
        left: 3.2rem;
    }

}

// CARD DESIGN
.m-pricingCards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;

    text-align: center;
    background: white;
    padding: 3rem;
    border-radius: 1rem;

    &__title {
        font-size: 1.5rem;
    }

    &__price {
        font-size: 7.5rem;
        padding: 1.5rem 0;
        display: flex;

        &.-monthly {
            display: none;
        }
    }

    & p span {
        font-size: 4rem;
        padding-right: .8rem;
        align-self: center;
    }

    &__features {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        
        margin-bottom: 4rem;

        & li {
            padding: 1.5rem 0;
            border-top: solid 1px rbga(255, 255, 255, .3);
            border-bottom: solid 1px rgba($color: var(--gray-light), $alpha: 0.4);
            font-size: 1.5rem;
        }

        & li:not(:last-child){
            border-bottom: solid 1px var(--gray-light);
        }
    }

    &__btn {

        padding: 1.2rem;
        background: var(--primary);
        border-radius: 0.5rem;

        color:white;
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;


        &.-white {
            background: white;
            color: var(--purple);
        }
    }

    &.-purple {
        background: var(--primary);
        color: white;
        padding: 5rem 3rem;

        // & .m-card__features {
        //     border-top: solid 1px var(--purple);
        //     border-bottom: solid 1px var(--purple);
        // }

    }

}

.attribution {
    text-align: center;
    padding: 2rem;

    a:link {
        color: var(--purple);
    }
}
