:root {
  /* Colors */
  --primary: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --gray-light: hsl(240, 78%, 98%);
  --purple-light: hsl(234, 14%, 74%);
  --purple: hsl(233, 13%, 49%);
  --purple-dark: hsl(232, 13%, 33%);
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
}

html,
body,
p,
ul,
li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: url(/fm-pricing-table/images/bg-top.svg) top right no-repeat, url(/fm-pricing-table/images/bg-bottom.svg) bottom left no-repeat;
  background-color: var(--gray-light);
}

ul {
  list-style: none;
}

.o-pricingTable {
  color: var(--purple-dark);
  padding-top: 5rem;
  height: 88vh;
}

.a_pricingTitle {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 4rem;
}

.o-pricingToggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7rem;
}

.o-pricingToggle p {
  font-size: 1.3rem;
  color: var(--purple);
}

.o-pricingToggle input#price-toggle {
  position: absolute;
  left: -9999px;
}

.o-pricingToggle .a-toggleSwitch {
  height: 3rem;
  width: 6rem;
  border-radius: 6rem;
  background: var(--primary);
  position: relative;
  margin: 0 2rem;
  cursor: pointer;
}

.o-pricingToggle .a-toggleSwitch::before {
  content: '';
  height: 2.4rem;
  width: 2.4rem;
  background: var(--gray-light);
  border-radius: 50%;
  position: absolute;
  top: 0.3rem;
  left: 0.4rem;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.o-pricingToggle input[type=checkbox]:checked + .a-toggleSwitch::before {
  left: 3.2rem;
}

.m-pricingCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  background: white;
  padding: 3rem;
  border-radius: 1rem;
}

.m-card__title {
  font-size: 1.5rem;
}

.m-card__price {
  font-size: 7.5rem;
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-card__price.-monthly {
  display: none;
}

.m-card p span {
  font-size: 4rem;
  padding-right: .8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.m-card__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 4rem;
}

.m-card__features li {
  padding: 1.5rem 0;
  border-top: solid 1px rbga(255, 255, 255, 0.3);
  border-bottom: solid 1px rgba(var(--gray-light), 0.4);
  font-size: 1.5rem;
}

.m-card__features li:not(:last-child) {
  border-bottom: solid 1px var(--gray-light);
}

.m-card__btn {
  padding: 1.2rem;
  background: var(--primary);
  border-radius: 0.5rem;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.m-card__btn.-white {
  background: white;
  color: var(--purple);
}

.m-card.-purple {
  background: var(--primary);
  color: white;
  padding: 5rem 3rem;
}

.attribution {
  text-align: center;
  padding: 2rem;
}

.attribution a:link {
  color: var(--purple);
}
/*# sourceMappingURL=style.css.map */